<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="row">Employee ID</th>
        <th scope="row">First Name</th>
        <th scope="row">Last Name</th>
        <th scope="row">Salary</th>
        <th scope="row">DOB</th>
        <th scope="row">Email</th>
        <th scope="row">Action</th>
      </tr>
    </thead>
    
       
        <tbody>
          <tr>
            <th scope="row">Default</th>
            <th scope="row">Mark</th>
            <th scope="row">Jane</th>
            <th scope="row">$7000</th>
            <th scope="row">08/05/1978</th>
            <th scope="row">mark@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-primary">
            <th scope="row">Primary</th>
            <th scope="row">Janet</th>
            <th scope="row">James</th>
            <th scope="row">$9000</th>
            <th scope="row">09/02/1967</th>
            <th scope="row">jane@gmail.com</th>
            <th scope="row">Approved</th>
          </tr>
          <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <th scope="row">Robert</th>
            <th scope="row">Jonah</th>
            <th scope="row">$5000</th>
            <th scope="row">05/07/1988</th>
            <th scope="row">jonah@gmail.com</th>
            <th scope="row">Pending</th>
          </tr>
          <tr class="table-success">
            <th scope="row">Success</th>
            <th scope="row">Roy</th>
            <th scope="row">Marques</th>
            <th scope="row">$8000</th>
            <th scope="row">03/05/1967</th>
            <th scope="row">roy@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-danger">
            <th scope="row">Danger</th>
            <th scope="row">Angel</th>
            <th scope="row">Johanna</th>
            <th scope="row">$6000</th>
            <th scope="row">08/05/1978</th>
            <th scope="row">johanna@testing.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-warning">
            <th scope="row">Warning</th>
            <th scope="row">Moses</th>
            <th scope="row">Julia</th>
            <th scope="row">$3000</th>
            <th scope="row">03/05/1988</th>
            <th scope="row">moses@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-info">
            <th scope="row">Info</th>
            <th scope="row">Mathew</th>
            <th scope="row">Jaw</th>
            <th scope="row">$4000</th>
            <th scope="row">09/05/1988</th>
            <th scope="row">mathew@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-light">
            <th scope="row">Light</th>
            <th scope="row">Helen>
            <th scope="row">Benjamin</th>
            <th scope="row">$10000</th>
            <th scope="row">07/15/1972</th>
            <th scope="row">helen@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
          <tr class="table-dark">
            <th scope="row">Dark</th>
            <th scope="row">Soj</th>
            <th scope="row">Juana</th>
            <th scope="row">$6000</th>
            <th scope="row">06/25/1978</th>
            <th scope="row">sojun@gmail.com</th>
            <th scope="row">Paid</th>
          </tr>
        </tbody>
      </table>